.back-ground {
  width: 100%;
  height: 100%;
  background: url("../img/space.jpg") 0 0 / 100% 100% no-repeat;
}

.star {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 20px yellow;
  filter: blur(2px);
}
